<%- include('header_footer/header') %>

<tr>
    <td valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="976px" align="center">
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="background-image: url('images/txtbg.png'); background-repeat: repeat-x;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr style="height: 10px;">
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style1">
                                            <span style="font-size: 23px; color: #69AF00; font-family: Georgia; font-weight: bold;
                                                padding: 10px;"><i>Download Form</i></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="height:20px;">
                            <td>&nbsp;</td>
                        </tr>
                        
                         <tr style="height:20px;">
                            <td>&nbsp;</td>
                        </tr> 
                         <tr style="height: 20px;">
                                    <script language="javascript" type="text/javascript">
                                        function printDiv(divID) {
                                            //Get the HTML of div
                                            var divElements = document.getElementById(divID).innerHTML;
                                            //Get the HTML of whole page
                                            var oldPage = document.body.innerHTML;

                                            //Reset the page's HTML with div's HTML only
                                            document.body.innerHTML =
                                              "<html><head><title></title></head><body>" +
                                              divElements + "</body>";

                                            //Print Page
                                            window.print();

                                            //Restore orignal HTML
                                            document.body.innerHTML = oldPage;


                                        }
                </script>
                                    <td style="background-color:Maroon; color: White; text-align: center; font-size: 25px; font-weight: bold; height: 45px; vertical-align: middle;">
                                        <a href="#" onclick="javascript:printDiv('printform')" style="color: White; text-decoration: none;">Thillai Matrimony Application Form  - Page 1
                                        </a>
                                    </td>
                                </tr>
                                <tr id="printform">
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #016DA0;">
                                            <tr>
                                                <td style="width: 181px;">
                                                    <a href="#" onclick="javascript:printDiv('printform')" style="color: White; text-decoration: none;">
                                                        <img src="Download%20Form/THILLAI%20THIRUMANA%20THAGAVAL%20MAIYAM%20FREE%20Reg%20Aplication%20page%201.jpg" width="1000px" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="background-color:Maroon; height:40px; font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#FFf; font-weight:bold; text-align:center;">Page 2</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 181px;">
                                                    <a href="#" onclick="javascript:printDiv('printform')" style="color: White; text-decoration: none;">
                                                        <img src="Download%20Form/THILLAI%20THIRUMANA%20THAGAVAL%20MAIYAM%20FREE%20Reg%20Aplication%20page%202%20001%20copy.jpg" width="1000px" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height:50px;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color:#0000F0; height:40px; font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#FFf; font-weight:bold; text-align:center;">Click on below Bio Data Model to Print</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 181px;">
                                                    <a href="#" onclick="javascript:printDiv('printform')" style="color: White; text-decoration: none;">
                                                        <img src="Download%20Form/BIO%20DATA%20Model%20%20%201%20www.thillaimatrimony.org.jpg" width="1000px" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="background-color:Maroon; height:40px; font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#FFf; font-weight:bold; text-align:center;">Click on below Note Pad Model to Print</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 181px;">
                                                    <a href="#" onclick="javascript:printDiv('printform')" style="color: White; text-decoration: none;">
                                                        <img src="Download%20Form/NOTE%20PAD%20%20www.thillaimatrimony.org%20tamil%20matrimony.jpg" width="1000px" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                
                                         
                                                
                         
                                                     
                </table>
            </tr>
        
                        <%- include('header_footer/footer')%>
