<%- include('header_footer/header') %>
<style>
    .underline-text2{
          position:relative;
          padding-bottom:5px;
          display:inline-block;
          color:blue;
     }

     .underline-text2::after{
          position: absolute;
          bottom: 0px;
          content: " ";
          width:80%;
          background:#fab12f;
          height:2px;
          left:0%;
          right:10%;
     }

     .underline-text2::before{
          position: absolute;
          bottom: -2px;
          content: " ";
          width:6px;
          background:#fab12f;
          height:6px;
          left:39%;
          right:0px;
          border-radius: 5px;
     }
</style>
<tr>
    <td valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="976px" align="center">
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="background-image: url('images/txtbg.png'); background-repeat: repeat-x;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr style="height: 10px;">
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style1" style="text-align: center;">
                                            <span style="font-size: 26px; color: #961c10; font-family: Georgia; font-weight: bold;
                                                padding: 10px;text-align: center;"><i>Our Schemes</i></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size: 20px;text-align: center;" class="welcome">
                                <b style="line-height: 30px;    color: #c80a0f;"><span >Registration
                                        Payment</span>
                                    <span style="color: #002E5B; font-size:24px;">- Rs.1000/-</span> <span
                                        style="color: red;">3 Years
                                    </span><strong></strong>
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size: 20px; color: #961c10;font-family: Georgia;padding:12px 0px;" class="welcome">
                                <strong>Features At A Glance</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">Popularity - </b><span class="p" style="color: #002E5B; font-size:14px;">பிரபலம்</span></b>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                எங்கள் வலைத்தளம் <a href="http://www.thillaimatrimony.org/"
                                class="link"
                                style="color: #3366FF; letter-spacing:1PX; font-size:14PX;">www.sriramatrimony.com</a> நினைவில்
                                கொள்ள எளிதானது மற்றும் அணுக எளிதானது என்பதைத் தெரிவித்துக் கொள்வதில் நாங்கள் மகிழ்ச்சியடைகிறோம்.
                                
                            </td>
                        </tr>
                        <tr style="height:10px;">
                            <td></td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">More No of Profile - </b><span class="p" style="color: #002E5B; font-size:14px;">மேலும் சுயவிவரத்தின் எண்ணிக்கை</span></b>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                மேலும் பலர் (மணப்பெண்கள் மற்றும் மணமகன்கள்) தங்கள் சுயவிவரங்களை எங்களுடன் காட்டியுள்ளனர், 
                                எங்கள் மீது அவர்கள் வைத்திருக்கும் நம்பிக்கையைப் பிரதிபலிக்கிறார்கள், <b>இலவசப் பதிவுச் 
                                    சுயவிவரத்துடன்</b>, சலுகை நேரத்தைத்காண்பிக்கும்
                            </td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">Options - </b><span class="p" style="color: #002E5B; font-size:14px;">விருப்பங்கள்</span></b>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                சுயவிவரங்கள் புகைப்படத்துடன் அல்லது இல்லாமல் காட்டப்படலாம். புகைப்படம் விருப்பமாக இருந்தாலும், அஞ்சல், <b>அட்டையின் 
                                    அளவு வெள்ளை பின்னணியுடன்</b> சிறந்ததாக இருத்தால்), இது மிகவும் விரும்பத்தக்கது. தயவு செய்து சமீபத்திய நகலை தருவதை உறுதி செய்யவும், தொழில் ரீதியாக நன்றாக எடுக்கப்பட்டது
                            </td>
                        </tr>
                        <tr style="height:10px;">
                            <td></td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">Horoscope Display - </b><span class="p" style="color: #002E5B; font-size:14px;">ஜாதகக் காட்சி</span></b>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                ஜாதகக் காட்சி, தோஷம் போன்றவற்றின் அடிப்படையில் ஜாததங்களை உனடியாகத் தேர்ந்தெடுக்க உதவுகிறது
                                இது மிகவும் பயனுள்ளதாக இருக்கும்.
                            </td>
                        </tr>
                        <tr style="height:10px;">
                            <td></td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">Profiles Display - </b><span class="p" style="color: #002E5B; font-size:14px;">சுயவிவரங்கள் காட்சி</span></b>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                ஆன்லைன் பதிவு / ஆஃப்லைன பதிவு சுயவிவரங்கள் தொலைப்பேசி எண்களுடன் பரந்த சுழற்சிக்காக அவ்வப்போது
                                காட்சிப்படுத்தப்பட்டு புதுப்பிக்கப்படும்.
                            </td>
                        </tr>
                        <tr style="height:10px;">
                            <td></td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">Confidentially - </b><span class="p" style="color: #002E5B; font-size:14px;">ரகசியமாக</span></b>
                            </td>
                           
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                சில ரகசியத்தன்மையை உறுதிப்படுத்த, நாங்கள் தொலைபேசி எண் / மின்னஞ்சல் மட்டுமே தருகிறோம் மற்றும் முழு
                                முதவரி இல்லை.
                            </td>
                        </tr>
                        <tr style="height:10px;">
                            <td></td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">Wide Coverage - </b><span class="p" style="color: #002E5B; font-size:14px;">ரகசியமாக</span></b>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                பரந்த கவரேஜ் பதிவு செய்யாதவர்கள் உட்பட அதிக எண்ணிக்கையிலான நபர்களால் சுயவிவரங்கள் பாரிக்கப்படுவதால்
                                 (இலவச பார்வையாளர்களும்) எங்களுடன் இது விரைவான திருமண வாழ்க்கைக்கு வழிவகுக்கிறது.
                            </td>
                        </tr>
                        <tr style="height:10px;">
                            <td></td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">Low Tariff - </b><span class="p" style="color: #002E5B; font-size:14px;">குறைந்த கட்டணம்</span></b>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                <span style="color:#E36C0A; font-weight:bold;">எங்கள் திருமண விளம்பர சேவை அமைப்பு :</span>
                                <br />
                                சேவைக் கட்டணங்கள் இல்லை, புதுப்பித்தல் கட்டணம் இல்லை, நேரடித் தொடர்பு இல்லை, 
                                இடைநிலை சேவைகள் இல்லை, நேர வரம்பு இல்லை, பதிவுக் கட்டணம் ரூ 1000 மட்டும், 
                                உறவினர்கள் மற்றும் நண்பர்களுக்கு நல்லமெசாஜ் செய்யுவும்.
                            </td>
                        </tr>
                        <tr style="height:10px;">
                            <td></td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">Best Advertisment Web Site - </b><span class="p" style="color: #002E5B; font-size:14px;">சிறந்த விளம்பர இணையதளம்</span></b>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                நீங்கள் இனையதளம் பார்க்கும் படிக்கம் இல்லாவிட்டாலும் மற்றவர்கள் உங்கள் சுயவிவரத்தைப் பார்தது உங்களை
                                 தொலைபேசியில் தொடர்புகொள்வார்கள். காகித விளம்பரம் போலல்லாமல், தரவு நீண்ட காலத்திற்கு 
                                 குறிப்புக்காடு கிடைக்கிறது. எனவே இது ஒரு நல்ல விளம்பர ஊடகம்.
                            </td>
                        </tr>
                        <tr style="height:10px;">
                            <td></td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">Updation - </b><span class="p" style="color: #002E5B; font-size:14px;">புதுப்பித்தல்</span></b>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                தரவு தினசரி புதுப்பிக்கப்படுகிறது. இருப்பினும் நீங்கள் சமீபத்தியவற்றிலிருந்து தேர்வு செய்ய விரும்பலாம், 
                                ஏதேனும் திருமண புதுப்பிப்பு மின்னஞ்சல் அனுப்பினால்
                            </td>
                        </tr>

                        <tr style="height:10px;">
                            <td></td>
                        </tr>
                        <tr>
                            <td class="welcome">
                                <b class=" underline-text2"
                                    style="font-size: 18px;font-weight: bold;color: #961c10;">Updation - </b><span class="p" style="color: #002E5B; font-size:14px;">புதுப்பித்தல்</span></b>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #002E5B; font-size:14px;">
                                எங்கள் இணையதளம் முற்றிலும் பயனர் நட்புடன் உள்ளது.
                                www.sriramatrimony.com இல் உள்நுழையவும் (அனைத்தும் சிறிய எழுத்துக்களிலும், ஒரு சொல்தொகுப்பாகவும்).
                                நீங்கள் சுயவிவரங்களுக்கு செல்ல விரும்பினால், அதற்கான இணைப்பை கிளிக் செய்யவும்.<br>
                                
                                நீங்கள் சுயவிவர அட்டவணைக்கு வருவீர்கள். அங்கிருந்து, நீங்கள் 'ஆண்' அல்லது 'பெண்', 'தமிழ்' அல்லது 'தெலுங்கு' நடிகர்களை தேர்ந்தெடுக்க முடியும்.
                                <br>
                                வாடிக்கையாளர்களுக்கு:<br>
                                <ul>
                                    <li>தேடல் சுயவிவரத்தைக் கிளிக் செய்து, வயல் வாரியாக உங்களால் மறுசீரமைக்க முடியும்.</li>
                                    <li>எந்தவொரு குறிப்பிட்ட சுயவிவரத்தையும் முகப்புப் பக்கத்தில் உள்ள தேடல் பெட்டியின் மூலம் தேர்ந்தெடுக்கலாம்.</li>
                                    <li>புகைப்படம் மற்றும் தொலைபேசி எண்ணைப் பார்க்க முடியும்.</li>
                                </ul>
                                
                                
                                
                                <b>புதியதாக பதிவு செய்ய:</b><br>

                                வேலை, வயது, சம்பளம் அல்லது ஏதாவது கூடுதல் விவரங்கள் இருந்தால், தயவுசெய்து எங்களைத் தொடர்பு கொள்ளவும்.
                                <br>
                                <b>Email:</b>
                                [Insert Email Here]
                                <br>
                                <b>Ph. No:</b>
                                [Insert Phone Number Here]
                            </td>
                        </tr>

                        <tr style="height:10px;">
                            <td></td>
                        </tr>
                        
                        
                    </table>
                </td>
            </tr>
          
                        <%- include('header_footer/footer')%>
