<%- include('header_footer/header') %>
<style>
    .icon-class{
        padding: 20px;
        border: 1px solid #fab12f;
        width: 330px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .icon{
        width: 50px;
        height: 50px;
    }
    .icon-text h3{
        text-align: center;
        font-size: 18px;
        color: #9a1c10;
        font-family: Georgia;
    }
    .icon-class p{
        text-align: center;
    }
</style>
<tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="976px" align="center">
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="background-image: url('images/txtbg.png'); background-repeat: repeat-x;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr style="height: 10px;">
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="style1" style="text-align: center;">
                                                        <span style="font-size: 23px; color: #96473f; font-family: Georgia; font-weight: bold;
                                                            padding: 10px;"><i>Our Services</i></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head" style="padding-right: 10px; line-height: 25px;width: 400px; ">
                                            <ul style="margin: 0px;display: flex;">
                                                <div class="icon-class">
                                                    <div class="icon">
                                                        <img src="images/icon-1.png" alt="">
                                                    </div>
                                                    <div class="icon-text">
                                                        <h3>More Trusted</h3>
                                                        <p>மேலும் நம்பகமானவர்</p>
                                                    </div>
                                                </div>

                                                <div class="icon-class">
                                                    <div class="icon">
                                                        <img src="images/icon-2.png" alt="">
                                                    </div>
                                                    <div class="icon-text">
                                                        <h3>Benefited Thousands</h3>
                                                        <p>ஆயிரக்கணக்கானோர் பயனடைந்தனர்</p>
                                                    </div>
                                                </div>

                                                <div class="icon-class">
                                                    <div class="icon">
                                                        <img src="images/icon-8.png" alt="">
                                                    </div>
                                                    <div class="icon-text">
                                                        <h3>Free Guidance, Counseling Services</h3>
                                                        <p>இலவச வழிகாட்டுதல், ஆலோசனை சேவைகள்</p>
                                                    </div>
                                                </div>

                                                
                                            </ul>

                                            <ul style="margin: 0px;display: flex;">
                                                <div class="icon-class">
                                                    <div class="icon">
                                                        <img src="images/icon-4.png" alt="">
                                                    </div>
                                                    <div class="icon-text">
                                                        <h3>Free access to website in India and Abroad</h3>
                                                        <p>இந்தியாவிலும் வெளிநாட்டிலும் இணையதளத்திற்கான இலவச அணுகல்</p>
                                                    </div>
                                                </div>

                                                <div class="icon-class">
                                                    <div class="icon">
                                                        <img src="images/icon-5.png" alt="">
                                                    </div>
                                                    <div class="icon-text">
                                                        <h3>Registration in Person / by Post to Ensure More Authenticity </h3>
                                                        <p>அதிக நம்பகத்தன்மையை உறுதிப்படுத்த, நேரில் / தபால் மூலம் பதிவு செய்தல்</p>
                                                    </div>
                                                </div>

                                                <div class="icon-class">
                                                    <div class="icon">
                                                       <img src="images/icon-6.png" alt="">
                                                    </div>
                                                    <div class="icon-text">
                                                        <h3>Updations/Validations of data Every Day</h3>
                                                        <p>ஒவ்வொரு நாளும் தரவின் புதுப்பிப்புகள் / சரிபார்ப்புகள்</p>
                                                    </div>
                                                </div>
                                            </ul>
                                                
                                            <ul style="margin: 0px;display: flex;">
                                                <div class="icon-class">
                                                    <div class="icon">
                                                        <img src="images/icon-7.png" alt="">
                                                    </div>
                                                    <div class="icon-text">
                                                        <h3>Horoscope Castings (Fully Computerized)</h3>
                                                        <p>ஜாதக வார்ப்புகள் (முழு கணினிமயமாக்கப்பட்டது)</p>
                                                    </div>
                                                </div>

                                                <div class="icon-class">
                                                    <div class="icon">
                                                        <img src="images/icon-3.png" alt="">
                                                    </div>
                                                    <div class="icon-text">
                                                        <h3>Non commercial & Service Oriented Approach For Hindu All Cast</h3>
                                                        <p>இந்து அனைத்து நடிகர்களுக்கும் வணிகம் அல்லாத & சேவை சார்ந்த அணுகுமுறை</p>
                                                    </div>
                                                </div>

                                                <div class="icon-class">
                                                    <div class="icon">
                                                        <img src="images/icon-9.png" alt="">
                                                    </div>
                                                    <div class="icon-text">
                                                        <h3>Low Tariff With More Benefit - 
                                                            Courteous Service & many more</h3>
                                                        <p>அதிக நன்மையுடன் குறைந்த கட்டணம் 
                                                            - மரியாதையான சேவை மற்றும் பல</p>
                                                    </div>
                                                </div>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-image: url(images/txtbg_Rev.png); background-repeat: repeat-x;
                                            height: 39px;">
                                            <span style="font-size: 23px; color: #69AF00; font-family: Georgia; font-weight: bold;
                                                padding: 10px;"><i>&nbsp;</i></span>
                                        </td>
                                    </tr>
                                    <tr style="height: 5px;">
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="background-image: url('images/txtbg.png'); background-repeat: repeat-x;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr style="height: 10px;">
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="style1" style="text-align: center;">
                                <span style="font-size: 23px; color: #96473f; font-family: Georgia; font-weight: bold;
                                    padding: 10px;"><i>About Us</i></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="head" style="padding: 10px; line-height: 20px;font-size: 14px;">
                    Welcome to <a href="#" class="link">www.srirammatrimony.org</a>! This is an exclusive
                    website of Sriram Matrimony for facilitating marriages for Hindus, Muslim & Christian in all caste.<br />
                    <br />
                    <b>Marriage is an important Turning & meaningful life !</b><br />
                    திருமணம் ஒரு முக்கியமான திருப்புமுனை மற்றும் அர்த்தமுள்ள வாழ்க்கை!<br><br />
                    WWW.srirammatrimony.com க்கு
வரவேற்கிறோம். இது
இந்துக்கள், முஸ்லீம் மற்றும் கிறிஸ்தவர்கள் அனைத்து சாதியினருக்கும்
திருமணங்களை எளிதாக்குவதற்கான
ட்ரிமோனியின் பிரத்யேக இணையதளமாகும்.<br /><br />
வாழ்த்துக்கள்!
                    
                </td>
            </tr>
            <tr>
                <td style="background-image: url(images/txtbg_Rev.png); background-repeat: repeat-x;
                    height: 39px;">
                    <span style="font-size: 23px; color: #69AF00; font-family: Georgia; font-weight: bold;
                        padding: 10px;"><i>&nbsp;</i></span>
                </td>
            </tr>
            <tr style="height: 5px;">
                <td>
                </td>
            </tr>
        </table>
    </td>
</tr>
<%- include('header_footer/footer')%>
