<%- include('header_footer/header') %>

<tr>
    <td valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="976px" align="center">
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="background-image: url('images/txtbg.png'); background-repeat: repeat-x;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr style="height: 10px;">
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style1">
                                            <span style="font-size: 23px; color: #981609; font-family: Georgia; font-weight: bold;
                                                padding: 10px;"><i>வணக்கம் </i></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #004364; font-weight:bold; line-height: 20px">
                                பொறுப்பான பெற்றோர்களே,மணம்முடிய காத்திருப்போர்களே,மற்றும் நண்பர்களே நமது மோகன்
                                மேட்ரிமோனி ஒரு
                                இணைய வழி சுயம்வர மேடை,பதிவு செய்த வரன்களுக்கு எளிதில் திருமணம் முடிய எதுவாக
                                <span style="color: #981609"> முழுமையானவிபரத்துடன்,+ புகைபடம் + ஜாதகங்கள் + தொலைபேசி
                                    எண்</span> உள்ளதால்,வரன் தேடும் பதிவு செய்த ,
                                பதிவு செய்யாத யாவரும் இருக்கும் இடத்தில் இருந்தே <span style="color: #981609"> இலவசமாக
                                    குடும்பத்தோடு பார்த்து</span> திருமண முடிவுகள் எடுக்கவும் ,
                                உடன் திருமணம் முடித்திட தொலைபேசியில் தொடர்பு கொள்ளவும் மோகன் மேட்ரிமோனி சுயம்வர மேடை (
                                வரன் விளம்பர மேடை )
                                வடிவமைக்கப்பட்டு உள்ளது.
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #004364; font-weight:bold;  line-height: 20px" align="center">
                                எந்த சிரமமும் இல்லாமல் <span style="color: #981609">80 சதவிதம்</span> பதிவு செய்தாலே
                                திருமணம் முடிய வாய்ப்பு,
                                <br />
                                ஆம், பதிவு மட்டும் செய்து இருந்தாலே போதும், வரன்கள் உங்களை தேடி வரும்
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #008FD5; font-weight:bold;  line-height: 20px">
                                <b>

                                    <blink>மூன்று வருட திருமண விளம்பர சேவை கட்டணம் ( நேரிலும் / ஆன்லைன் வழி சேவை ) -
                                        <span style="color: Red;">வரன் விளம்பர
                                            கட்டணம்&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                                            style="color: #981609; font-weight:bold; font-size:larger;">Rs.1000</span>
                                </b></blink>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #004364; font-weight: bold; line-height: 20px">
                                <strong>(குறிப்பு ;&nbsp; <em><span style="color: #981609">நமது இந்திய
                                            ராணுவ பணி&nbsp;</span></em><em>செய்பவருக்கும்,<span style="color: #981609">
                                            மாற்று
                                            திறனாளி&nbsp;களுக்கும்</span> சலுகை உண்டு</em>&nbsp;)</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #004364; font-weight:bold;  line-height: 20px">
                                பதிவு செய்யாதவர்கள்,பதிவு செய்தவர்கள் எல்லோரும் விளம்பர செய்துள்ள&nbsp;வரன்களை தினமும்
                                இலவசாக பார்க்க முடிவதால் விரைவில் திருமணம் முடிய ஏதுவாகிறது,&nbsp;<strong>ஆம்&nbsp;பதிவு
                                    மட்டும் செய்து இருந்தாலே போதும், வரன்கள் உங்களை தேடி வரும்</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #004364; font-weight:bold;  line-height: 20px">
                                நமது அதி அற்புதமான&nbsp;<span
                                    style="color: #981609">வெளிப்படையான&nbsp;சேவைய</span>ை&nbsp;தாங்களும்&nbsp;,தங்கள்
                                உறவினர்களையும் பயன் படுத்த செய்து எல்லோருக்கும் உரிய வயதில் திருமணம் முடித்து,எல்லாம்
                                வல்ல கடவுள் அருளலால் எல்லாவளமும் ,நலமும் பெற்று வாழ்வாங்கு வாழ வாழ்த்து கிறோம்&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #004364; font-weight:bold;  line-height: 20px; text-align: right">
                                <b>தங்கள் அன்புள்ள
                                    <br />
                                    கேதார செல்வர் தி .அ .சண்முகம்<br />
                                    <a href="#" class="link" style="color: #3366FF;">www.srirammatrimony.org</a> <span
                                        style="color: #981609;">
                                        Cell :9489 33 1973</span> </b>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #004364; font-weight:bold;  line-height: 20px">
                                உங்கள்&nbsp;<span style="color: #981609">முழு ஜாதக
                                    விபரம்&nbsp;+&nbsp;புகைப்படதுடன்</span>,
                                &nbsp;உலகின் எந்த மூலையில் இருந்தும் நிமிடத்தில் பதிவு செய்யவும்,பணம் செலுத்தவும்இலவசமாக
                                பார்க்கவும் ,திருமணம் முடிக்கவும், முடியும்,... மேலும்&nbsp;புதிய பதிவு, பதிவில்
                                திருத்தம், சந்தேகம், சிரமம், ஆலோசனைக்கு
                                <br />
                                Email ID;&nbsp;<a href="mailto:srirammarriage@gmail.com" target="_blank" class="link"
                                    style="color: #3366FF;">srirammarriage@gmail.com</a>&nbsp;உடன் தொடர்புக்கு
                                கைபேசி எண் ; 98410&nbsp;67840 யும்&nbsp;பயன்படுத்தி மணம் முடுயுங்கள்
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #004364; font-weight:bold;  line-height: 20px">

                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #004364; font-weight:bold;  line-height: 20px">
                                <div>
                                    <span style="color: #981609">T.A.SANMUGAM</span>&nbsp;என்ற பெயருக்கு , ஸ்டேட் பேங்க்
                                    அப் இந்திய ( SBI A/C NO; ) சேமிப்பு கணக்கு எண் ;11073702550 ; ,கிளை ; செய்யாறு
                                    &nbsp;<br />( 000267 ),சேவை கட்டணம்&nbsp; செலுத்தலாம்
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p" style="color: #004364; font-weight:bold;  line-height: 20px">
                                <p>
                                    <span style="color: #981609">Pls AFTER Pay Send mail : <a
                                            href="mailto:srirammarriage@gmail.com" target="_blank" class="link"
                                            style="color: #3366FF;">srirammarriage@gmail.com</a> or call : 9488873562</span>
                                </p>
                                <p>
                                    <span style="color:Maroon; font-weight:bold;">பெற்றோர்களே ,திருமண நிகழ்வுக்கு
                                        காத்திருக்கும் இளஞ்சர்களே, <br />அன்பர்களே
                                        உங்களுக்கு நல்வழி காட்டவே இந்த திருமண செய்தி
                                </p>

                                <span style="color:Maroon; font-weight:bold;">
                                    <p>ஒருவருக்கு திருமணம் நடக்கவும்,<br />
                                        நடக்காமல் இருக்கவும் பல காரணங்கள் உள்ளது...</p>
                                </span>

                                <p>திருமண வரன் தேடும் முறை</p>

                                <p>( சம்பந்த பட்ட வரனுக்கு விரைவில் திருமணம் ஆகவேண்டும் என்ற எண்ணம் இருக்க்கும்
                                    பட்சத்தில்
                                    நமது இந்திய தேச ஹிந்து திருமண சட்டப்படி வயது,தகுதிகள்,குடியுரிமை...இருக்க வேண்டும்
                                    மேலும் குடும்பம் நடத்த போதுமான உடல் வளர்ச்சியும் ,
                                    மனமும் தெளிவு பெற்ற குறைந்த பட்ச ஆணின் மண வயது ,பெண்ணின் மண வயது இருக்க வேண்டும் )
                                </p>

                                <p><span style="color:Maroon">1.</span> நாம் படித்த உடன் விரைவில் வேலை கிடைக்க பல
                                    வேலைவாய்ப்பு மையங்கள்,இணையதளங்களில் பதிவு செய்வது போல
                                    நமக்கு திருமண விரைவில் நடைபெற திருமண தகவல் மையங்கள்,MARRAGE WEB SITES கலீல் பதிவு
                                    செய்வது நடைமுறை</p>

                                <p>வரன் பிறந்த தேதி ;படிப்பு;வேலை வருமானம்,முகவரி,தொடர்புக்கு இரண்டு கைபேசி எண் என் முழு
                                    விபரம் ஜாதகம் அடங்கிய ஒரு பக்க பயோ டேட்டாவை DTP செய்து குறைந்தது பத்து நகல்களை
                                    எப்போதும் வைத்திருங்கள் + 10 அஞ்சல் அட்டை அளவு பெரிய நல்ல புகைப்படத்தையும் FULL SIZE
                                    OR HALF SIZE POST CARD SIZE PHOTO (போட்டோ) வும் இருக்கட்டும்
                                    (போட்டோ எடுக்க நேரம் இல்லை என பழைய குட்டி பாஸ்போர்ட் அளவு புகைப்படம், வைத்துக்கொண்டு
                                    ஒப்புக்கு வைத்து இருந்தால் இதை விட திருமணம் தள்ளி போக வேறு காரணமே தேவை இல்லை)</p>

                                <p><span style="color:Maroon">2.</span> லட்சங்களும் லட்சணமும் கைமாறும் கல்யாண
                                    வைபோகத்தில் சில ஆயிரம் செலவு செய்வது நல்லதே
                                    தகவல் மையங்களில் பதிவு செய்வதை அதிகமாக்குங்கள் செலவு குறைவு அதிக பலன் உண்டு,
                                    முழுமையான தகவல் /விபரம் கொடுக்காத
                                    திருமண அமைப்பாளர்,கமிஷன் ப்ரோக்கர்,திருமண ஏற்பாட்டுக்குழு களால் வீண்
                                    அலைச்சல்+அவ்வப்போது செலவு தான் அதிகமாகும் என்பது பலர் கருத்து , மேலும் சமுதாய திருமண
                                    தகவல் மையங்களில் பதிவு செய்வது மிகவும் நல்லது </p>

                                <p>எதிர்பாப்புக்கு ஏற்ப வரன் தேடுவதை அதிகமாக்குங்கள் ...( திருமண தகவல் மையம்,MATRIMONY
                                    WEB SITES...)
                                    தேட முடியாதவர்கள் எதிர்பார்ப்பை குறைத்து கொண்டாலே திருமணம் கைகூடும்</p>

                                <p><span style="color:Maroon">3.</span> அப்ப அப்ப அதிக பணம் கேட்டு தொல்லை கொடுக்காத
                                    திருமண இணையதளங்கலில் பதிவு செய்வது நல்லது</p>
                                நம்ம மோகன் திருமண தகவல் மையத்துக்கும் புகைப்படத்துடன் ஒரு முழு ஜாதக விபரத்தை அனுப்பி
                                வையுங்கள் இலவசமாக பதிவு செய்து கொள்கிறோம்.</p>
                                <p><span style="color:Maroon">4.</span>வரன் தேடுபவர் நேர்மறை எண்ணமும் ( POSITIVE
                                    THINKING) அதிக அனுபவ விபரமானவராக இருந்தால் விரைவில் திருமணம் முடியும் வாய்ப்பு
                                    உள்ளது , மாதம் ஒருமுறை யாவது பதிவு செய்த மையங்களில் வரன் தேட வீட்டை விட்டு
                                    கிளம்புங்கள் அல்லது தொடர்ந்து திருமண இணைய தளங்களில் வரன் தேடுங்கள் ,
                                    முறையாக நம்ம எதிர்பார்ப்புக்கு ஏற்ப
                                    வயது ,படிப்பு,நிறம்,உடலமைப்பு, உயரம்,குடும்ப அமைப்பு ...விருப்பு வெறுப்பு ,
                                    பொருத்தங்கள் ஒரே நோட் புத்தகத்தில் எழுதியோ அல்லது நகல் எடுத்து வந்தோ என வரன்
                                    விபரங்களை எடுத்து வந்து முறையாக நீங்களாகவே ஒவ்வொன்றாக தொலைபேசியில் தொடர்பு கொண்டு
                                    வரன் குடும்பத்துடன் உரையாடுங்கள் பரஸ்பர ஒளிவு மறைவு இல்லாத புரிதலோடு
                                    கலந்துரையாடுங்கள் இரு தரப்புக்கும் பிடித்து இருந்தால் ,பயோ டேட்டா
                                    புகைப்படம்,மெயிலில் அனுப்பியோ அல்லது கடிதம் ,கொரியரில் அனுப்பி தகவல்களை பரிமாறி
                                    கொள்ளலாம் இரு தரப்புக்கும் பிடித்து இருந்தால்</p>

                                <p><span style="color:Maroon">5.</span>இரு குடும்ப பெரியார்களின் ஒப்புதலில் வரன் பார்க்க
                                    ஏற்பாடு செயுங்கள் இல்லையேல் வரன் ஏற்பாடு செயாதீர்கள் ,இதனால் இரு பக்க மனஉளைச்சல் ,பண
                                    விரயமும் குறையும் ,நினைத்தால் எந்த பரிமாறுதலும் இல்லாமல் வரன் பார்க்க கிளம்பாதீர்கள்
                                    ....
                                    உலகில் அன்பானவர், ஏழைகள் ,பணக்காரர்கள்,நடுத்தரமானவர்கள் ,அதிகம் படித்தவர், அதிகம்
                                    படிக்காதவர்கள் ,கருமிகள்,நல்லவர்,கெட்டவர்கள் ,...........எல்லா மாறி ஆட்களும்
                                    இருக்கிறார்கள் என்பதை மறக்காதீர் விரக்தி அடையாதிர்கள் ,நம்பிக்கையோடு மனதார
                                    நினையுங்கள் அதற்காக தொடர்ந்து முயற்சி செயுங்கள் திருமணம் விரைவில் கைகூடும்</p>

                                <p><span style="color:Maroon">6.</span>வரன் பிடிக்கிறதா இல்லையா என பதில் சொல்ல யார்
                                    தயங்குகிறாரோ அல்லது பதில் சொல்ல யார் தள்ளி போடுகிறாரோ அவருக்கு பிடிக்க வில்லை என்று
                                    அர்த்தம் ,வேண்டும் என்றால் காரணம் கேட்டு தெரிந்து கொள்ளலாம்</p>


                                <p>பேர் பொருத்தம் என்கிற நட்சத்திரமே போதுமானது<br />
                                    ராஜு -கழுத்து பொருத்தம் ,யோனி,-என்கிற வாயிற்று பொருத்தம் ....என பத்து பொருத்தம்
                                    .இருக்கிறது<br />
                                    இதுவே போதுமானது என்பது என் கருத்து ,<br /> <br />
                                    <span style="color:Maroon">"கட்டதையே பார்த்துக்கொண்டு இருந்தால் கல்யாணம் பண்ண
                                        முடியாது<br />
                                        குற்றதையே பார்த்துக்கொண்டு இருந்தால் குடும்பம் நடத்த முடியாது" -பழமொழி</span>
                                </p>

                                <p><span style="color:orange">இறைவனை உறுதியோடு பற்றிக் கொண்ட பக்தார்களுக்கு நாள் என்ன
                                        செய்யும்? வினை தான் என்ன செய்யும்? நம்மை நாடி வந்த கோள் என் செய்யும்? கொடுங்
                                        கூற்று என் செய்யும்? என்று அருணகிரிநாதா் கேட்கிறார்?</p>

                                <p>இறைவனையே தஞ்சமாக அடைந்த அடியார்களுக்கு கிரகங்களால் வரக்கூடிய துன்பம் வராது என்கிறார்
                                    ஞான சம்பந்தா். அவா் பாடிய கோளாறு திருப்பதிகம் புகழ்பெற்றது.</p>

                                <p>பிடித்து இருந்தால் திருமணத்தை நல்ல நாள் பார்த்து மணம் முடியுங்கள் சுபம்
                                    ..........Call; 9488873562</p>



                                <p><span style="color:Maroon">
                                        <blink>இலவசமாக பதிவு செய்ய வேண்டுமா?</blink>
                                    </span><br />
                                    தங்கள் முழு ஜாதக விபரதுடன்+ புகைப்படத்தை இணைத்து</p>

                                <p><span style="color:orange">மோகன் திருமண தகவல் மையம்<br />
                                        9.புது தெரு, BSNL பக்கத்தில், செய்யாறு -604407<br />
                                        திருவண்ண மலை மாவட்டம்,<br />9488873562</span></p>

                                <p>இந்த முகவரிக்கு அஞ்சல் அல்லது கொரியர் மூலமோ அனுப்புங்கள்,<br />
                                    நாங்கள் இலவசமாக பதிவு செய்து <br />
                                    வரன் தேடும் மற்ற பெற்றோர்கள் பார்வைக்கு<br />
                                    உங்கள் முழு விபரத்தை பார்வைக்கு( Files ) வைக்கிறோம்</p>

                                <p>மேலும்<br />
                                    <span style="color:orange">வரன் தேட விரும்பினால் மட்டும் <span
                                            style="color:blue">ருபாய் 1000</span> சேவைக்கட்டணம் செலுத்துங்கள்<br />
                                        வேறு கட்டணமோ ,கமிஷனோ வேறு எப்போதும் பெறுவது இல்லை
                                </p>

                                <p><span style="color:orange">கட்டணம் செலுத்திய வரன் விபரத்தை நமது
                                        www.srirammatrimony.com<br />
                                        இல் எல்லோரும் இலவசமாக பார்க்கும் படி விளம்பரம் செய்கிறோம்</span></p>

                                <p>
                                    <blink><span style="color:Maroon; font-size:15px;">மேலும்<br />
                                            Free Horoscope, Astro Tips and Marriage Tips Helpful NEWS Just clik <a
                                                href="http://www.srirammatrimony.com/" target="_blank"
                                                class="link"
                                                style="color: #3366FF;">www.srirammatrimony.com</a></span>
                                    </blink>
                                </p>

                                <p>எல்லோருக்கும் விரைவில் திருமணம் முடிந்து வளமுடன் வாழ வாழ்த்துக்கள்
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-image: url(images/txtbg_Rev.png); background-repeat: repeat-x;
                                height: 39px;">
                                <span style="font-size: 23px; color: #69AF00; font-family: Georgia; font-weight: bold;
                                    padding: 10px;"><i>&nbsp;</i></span>
                            </td>
                        </tr>
                        <tr style="height: 5px;">
                            <td>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%- include('header_footer/footer')%>
