<!-- <tr>
  <td style="background-image: url(images/GodBG.png); background-position: center; background-repeat: no-repeat; height: 48px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="width: 20px;">&nbsp;</td>
        <td style="width: 225px;">
          <img src="images/LeftGod.png" />
        </td>
        <td align="center" style="font-size: 20px; font-weight: bold; font-family: Verdana; color: #69AF00;">
          SUBAM
        </td>
        <td style="width: 225px;">
          <img src="images/RightGod.png" />
        </td>
        <td style="width: 20px;">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr> -->

<tr>
  <td>

  </td>
</tr>

</table>
</td>
</tr>
</table>
</div>
</body>


</html>
<style>
  .footer_table td, .footer_table th{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
</style>

<!-- Footer Copyright -->
<table border="0" cellpadding="0" cellspacing="0"  class="bg-[#1C325B] text-[#fff] footer_table xl:w-full sm:w-[100%]" >
  
  <!-- About & Logo Column -->
  <tr style="width: 449.66px;">
      <td style="width: 100px;">
        &nbsp;
      </td>
    <td class="footer-col" style="text-align: start; display: flex; flex-direction: column;width: 300px;">
      <h3 class="mb-4" style="font-size: 18px; font-weight: bold; color: #FF2929;">About</h3>

      <img src="images/logo=banner/singletext.png" alt="Logo" style="width: 200px; height: auto;" />
      <h3 style="font-size: 18px; font-weight: bold; color: #ffffff;">Sri Ram Matrimony</h3>
      <p style="color: #ffffff;">A trusted matrimonial service.</p>
    </td>

    <td class="footer-col" style="width: 485px;">
      <h3 style="font-size: 18px; font-weight: bold; color: #FF2929;">Our Website</h3>
      <p style="text-align: justify;">Register at Sri Ram Marriage Information Center via our website or phone. 
        View profiles with details like education, profession, income, and more. Update contact info promptly wishing
         everyone a speedy marriage and a prosperous life!</p>
    </td>

    <!-- Quick Links Column -->
    <td style="width: 289px;display: flex;" class="footer-col" style="padding: 20px; text-align: center;">
      <div class="footer-col w-[40%] mx-auto">
        <h3 style="font-size: 18px; font-weight: bold; color: #FF2929;">Quick Links</h3>
        <ul style="list-style-type: none; padding: 0;">
          <li><a href="/" target="_parent">Home</a></li>
          <li><a href="search" target="_parent">Search</a></li>
          <li><a href="/register" target="_parent">Registration</a></li>
          <li><a href="/download_pdf" target="_parent">Download Form</a></li>
          <li><a href="/login" target="_parent">Login</a></li>
        </ul>
      </div>

    </td>

    <!-- Address Column -->
    <td style="width: 449.66px;" class="footer-col" style=" text-align: start; display: flex; flex-direction: column;">
      <div class="footer-col w-[60%] mx-auto">
        <h3 style="font-size: 18px; font-weight: bold; color: #FF2929;">Contact Information</h3>
        <p style="color: #fff;">74, Sathyamoorthy Salai (Mandhi Theru), <br> Arani - 632 301</p>
        <p><strong>Phone: </strong>+91 - 9488873562</p>
        <p><strong>Email: </strong><a href="mailto:srirammarriage@gmail.com">srirammarriage@gmail.com</a></p>
      </div>

    </td>
    <td style="width: 100px;">
      &nbsp;
    </td>
  </tr>

</table>
<tr>
  <td style="background-color: #333; text-align: center; padding: 10px;">
    <footer>
      <p style="color: #fff; font-size: 14px;">© 2024 Jorim Technology. All rights reserved.</p>
    </footer>
  </td>
</tr>