<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from www.thillaimatri.com/index.aspx by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Nov 2024 04:24:44 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<!-- Include Slick CSS and JS -->
<link rel="stylesheet" type="text/css"
href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
<link rel="stylesheet" type="text/css"
href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/compress.js@1.0.1"></script>
<style>
  .mainlink {
    text-decoration: none;
    color: #FFFFFF;
  }
</style>
<style>
  body {
    margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px;

  }
  .TextBox {
    color: #2E2E2E;
    font-size: 11px;
    font-family: Arial;
    border: 1px solid #999966;
    height: 17px;
  }

  .a {
    font-family: Verdana;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
  }

  .mainlink {
    text-decoration: none;
    color: #FFFFFF;
  }

  .head {
    font-family: Arial, Helvetica, sans-serif;
    color: #002E5B;
    font-size: 12px;
    padding: 5px;
    text-align: justify;
  }

  .link {
    font-family: Arial, Helvetica, sans-serif;
    color: #69AF00;
    font-size: 12px;
    text-align: center;
    border-left: solid 1px #FFFFFF;
    text-decoration: none;
    font-weight: bold;
  }

  .p {
    font-family: Arial, Helvetica, sans-serif;
    color: #002E5B;
    font-size: 13px;
  }

  .p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FF0000;
    padding: 5px;
    text-align: justify;
    line-height: 24px;
  }
</style>

<head>
  <title>
    Welcome to Sriram Matrimony
  </title>
</head>

<body>


  <div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" >
      <tr>
        <td align="center" >


          <table border="0" cellpadding="0" cellspacing="0" width="1149px" align="center" class="bg-white">
            <tr>

              
            </tr>
            <tr style="height: 90px;">
              <td class="bg-white">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="width: 271px; vertical-align: middle;">
                      <img src="images/logo=banner/singletext.png" width="362px" height="61px" alt="" />
                    </td>
                    <td>&nbsp;

                    </td>
                    <td style="width: 533px;" valign="bottom">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td align="right">
                            <div class=" w-1/2">
                              <div class=" flex justify-end item-center gap-2" >
                                <img class="w-[10%]" src="images/logo=banner/whatsapp_img.png" alt="">
                              <p class="text-[#e30e15] font-bold">9488873562</p>
                              </div>
                              <div class="flex justify-between hidden">
                                <img class="w-[12%]" src="images/logo=banner/location-img.png" alt="">
                              <p class="text-[#e30e15] font-bold text-justify" style="line-height: 13px; font-size: 11px;">Sri Ram Matrimony, <br> 74, Sathyamoorthy Salai <br> (Mandhi Theru), Arani - 632 301</p>
                              </div>
                              
                            </div>

                          </td>
                        </tr>

                        <tr style="height:2px;">
                          <td></td>
                        </tr>
                        <tr>
                          <td style=" width: 533px; height: 38px; display:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tr>
                                <td style="width: 130px;">&nbsp;

                                </td>

                                <td valign="middle" style="padding-left: 5px; width: 28px; display:none;">
                                  <input type="image" name="Btn_Go" id="Btn_Go" src="images/GO.png"
                                    style="border-width:0px;" />
                                </td>
                                <td style="width: 10px;">&nbsp;

                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td style="width: 10px;">&nbsp;

                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="bg-[#fab12f]">
                  <tr>
                    <td style="background-position: center;
                                            background-repeat: no-repeat; width: 12px; height: 39px;">&nbsp;

                    </td>
                    <td style=" background-position: center;
                                            background-repeat: repeat-x; height: 39px;">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr style="height: 39px;" class="a">
                          <td style="background-position: right;
                                                    background-repeat: no-repeat;" width="6%">
                            <a class="mainlink" href="/" target="_parent">Home</a>
                          </td>
                          <td style="background-position: right;
                                                    background-repeat: no-repeat;" width="6%">
                            <a class="mainlink" href="search" target="_parent">Search</a>
                          </td>
                          <td style="background-position: right;
                                                    background-repeat: no-repeat;" width="6%">
                            <a href="/register" id="anc" class="mainlink" target="_parent">
                              Registration</a>

                          </td>
                          <td style="background-position: right;
                                                    background-repeat: no-repeat;" width="11%">
                            <a href="/download_pdf" id="DownloadForm" class="mainlink" target="_parent">
                              Download Form</a>
                          </td>
                          <td style="background-position: right;
                                                    background-repeat: no-repeat;" width="4%">
                            <a class="mainlink" href="/login" target="_parent">Login</a>
                          </td>
                          <td style="background-position: right;
                                                    background-repeat: no-repeat;" width="6%">
                            <a class="mainlink" href="/service" target="_parent">Services </a>
                          </td>
                          <td style="background-position: right;
                                                    background-repeat: no-repeat;" width="10%">
                            <a class="mainlink" href="tamil_service"
                              target="_parent">&#2980;&#2990;&#3007;&#2996;&#3007;&#2994;&#3021;
                              &#2953;&#2980;&#2997;&#3007;</a>
                          </td>
                          <td style="background-position: right;
                                                    background-repeat: no-repeat;" width="12%">
                            <a class="mainlink" href="/schemes" target="_parent">Schemes & Features</a>
                          </td>
                          <td style="background-position: right;
                                                    background-repeat: no-repeat;" width="10%">
                            <a class="mainlink" href="/payment" target="_parent">Payment Options</a>
                          </td>
                          <td width="7%">
                            <a class="mainlink" href="/contact" target="_parent">Contact Us</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td style="background-position: center;
                                            background-repeat: no-repeat; width: 12px; height: 39px;">&nbsp;

                    </td>
                  </tr>
                </table>
              </td>
            </tr>

          </table>
          <table width="1140px" border="0" cellpadding="0" align="center">
            <tbody>
              <tr style="width: 976px; height: 30px;">
                <td>
                  <marquee behavior="SCROLL" bgcolor="#FFFDF7" loop="3"> <strong><span
                        style="color: #3366FF; font-size: 16px; font-weight: bold; font-family: Arial;">ஸ்ரீராம்
                        மேட்ரிமோனி இலவச தொடர்பு மையம்,முழு ஜாதக விபரத்துடன் புகைப்படம் தொலைபேசி எண்ணை
                        விளம்பரம் செய்யும் ஒரே திருமண விளமபர இணையத்தளம், திருமணம் முடியும் வரை விளம்பரம்
                        செய்ய ருபாய் 1000 மட்டுமே.</span><span
                        style="color: #FA4032; font-weight: bold; font-size: 16px;">வேறு
                        எந்த
                        கட்டணமோ,கமிஷனோ இல்லை, இந்த வெளிப்படையான சேவையை உங்கள்
                        உறவினர்களுக்கும்,நண்பர்களுக்கும் எடுத்து சொல்லி நமது சமுதாய வரன்களை அதிகமாக்கி
                        விரைவாக திருமணம் முடியுங்கள் ,வாழ்க வளமுடன் .</span> ஸ்ரீராம் மேட்ரிமோனி ,74 .சத்தியமூர்த்தி
                      சாலை (மண்டித்தெரு) ஆரணி - 632 301 செல்;948 8873 562</strong>
                  </marquee>

                </td>

              </tr>
            </tbody>

          </table>
        </td>
      </tr>
      <tr>